/* Define a CSS variable for minimum font size */
:root {
  --min-font-size: 12px;
}

/* Invoice Container Styling */
.invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 24px;
}

/* Centered Text Styling */
.centered-text {
  font-size: calc(max(var(--min-font-size), 11px + 0.5vw));
}

/* Ensure font size does not go below a certain threshold when printed */
@media print {
  .centered-text {
    font-size: 68px;
  }
}

/* Tables Container Styling */
.tables-container,
.tables-container-items,
.tables-container-items-hsn {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Table Wrapper Styling */
.table-wrapper,
.table-wrapper-items,
.table-wrapper-items-hsn {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

/* General Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 5px;
}

/* Center text in td elements by default */
table td {
  text-align: center;
}

/* Left-align text in td elements within tables-container */
.tables-container table td {
  text-align: left;
}

/* Center-align text in td elements within tables-container-items */
.tables-container-items table td {
  text-align: center;
}

/* Tables Container Items Styling */
.tables-container-items table th {
  height: 50px;
  border-bottom: 1px solid;
  white-space: nowrap;
  text-align: center;
  font-size: calc(max(var(--min-font-size), 11px + 0.5vw));
}

/* Ensure font size does not go below a certain threshold when printed */
@media print {
  .tables-container-items table th {
    font-size: var(--min-font-size);
  }
}

.tables-container-items table td,
.tables-container-items-hsn table td {
  white-space: nowrap;
}

/* Ensure All Tables Have the Same Width */
.tables-container table,
.tables-container-items table,
.tables-container-items-hsn table {
  width: 100%;
}

/* Adjust Column Widths as Necessary */
table th:nth-child(1),
table td:nth-child(1) {
  width: 5%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 25%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 10%;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 10%;
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 10%;
}

table th:nth-child(6),
table td:nth-child(6) {
  width: 10%;
}

table th:nth-child(7),
table td:nth-child(7) {
  width: 10%;
}

table th:nth-child(8),
table td:nth-child(8) {
  width: 10%;
}

table th:nth-child(9),
table td:nth-child(9) {
  width: 10%;
}

/* Normal Borders for Other Table th Elements */
.tables-container table th,
.tables-container-items-hsn table th {
  border: 1px solid black;
}
